mat-card {
    margin: 15px;
}
.container-answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .verdict {
        position: relative;
        margin-left: 10px;
        height: 25px;
        &.correct {
            filter: invert(100%) sepia(41%) saturate(3674%) hue-rotate(59deg) brightness(99%) contrast(83%); 
            
        }
        &.incorrect {
            filter: invert(22%) sepia(63%) saturate(3794%) hue-rotate(325deg) brightness(92%) contrast(98%);
        }
    }
}